  .tns-outer {
    position: relative;
    }
    
    .tns-controls {
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .tn-controls button {
        background:white;
        border: 1px  solid black;
        margin-right: 1rem;
    }

  body {
    font-family: "poppins";
    font-weight: 400;
  }

  header img {
    display: block;
    z-index: 100;
    width: 230px;
    height: 160px;
    padding: 15px;
  }

  nav {
    text-align: right;
    word-spacing: 1em;
    padding: 3rem;
    font-size: 20px;
  }

  .banner {
    display: flex;
    margin-bottom: 4rem;
    background-color: #9c6335;
  }

  .banner img {
    object-fit: cover;
  }

  .banner-text {
    background-color: #9c6335;
    padding: 1rem;
    color: #fff;
    text-align: center;
    padding-top: 10em;
    width: 100%;
  }

  h3 {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    font-weight: normal;
  }

  .iced-drinks img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;

  }
  .iced-drinks p {
    text-align: center;
  }

  .hot-drinks img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .hot-drinks p{
    text-align: center;
  }

  .sandwiches img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
  }

  .sandwiches p{
    text-align: center;
  }

  .hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3px;
    margin-top: 5em;
  }

  .hours img{
    width: 300px;
    height: 300px;
  }

   .location {
    margin-bottom: 1em; 
    margin-left: 20em;
    padding-right: 5%; 
  }

  .location h2 {
    font-size: 20px;
  }

  footer {
    margin-top: 5em;
    margin-left: 7em;
    width: 33%;
    color: black;
    font-size: 16px;
    display: flex;
  }

  .icons {
    margin-bottom: 10rem; 
    font-size: 24px;
  }

@media screen and (min-width: 768px){
  .page-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
