
  .tns-outer {
  position: relative;
  padding: 7rem;
  padding-bottom: 7rem;
  }
  
  .tns-controls {
      display: flex;
      justify-content: space-between;
      padding: 4rem;
      position: absolute;
      z-index: 100;
      width: 100%;
  }
  .tn-controls button {
      border: 1px  solid black;
      margin-right: 1rem;
  }

  body {
    font-family: "poppins";
    font-weight: 400;
  }

  header img {
    display: flex;
    width: 230px;
    height: 160px;
    padding: 5px;
  }

  nav {
    text-align: right;
    word-spacing: 1em;
    padding: 3rem;
    font-size: 20px;
  }

  .banner {
    display: flex;
    margin-bottom: 4rem;
  }

  .banner img {
    object-fit: cover;
  }

  .banner-text {
    background-color: #9c6335;
    padding: 1rem;
    color: #fff;
    text-align: center;
    
    padding-top: 10em;
    width: 100%;
  }

  h3 {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    font-weight: normal;
  }

  .slideshow img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3px;
  }

  .hours img{
    width: 300px;
    height: 300px;
  }

   .location {
    margin-bottom: 1em; 
    margin-left: 2em;
    padding-right: 2%; 
    width: 33%;
  }

  footer {
    margin-left: 2em;
    padding-right: 2%; 
    width: 33%;
    color: black;
    font-size: 15px;
    display: flex;
  }

  .icons {
    height: 40px;
    margin-bottom: 10rem;
    margin-left: 50%;
  }

@media screen and (min-width: 768px){
  .page-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
