body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

}

nav {
    text-align: right;
    padding: 3rem;
    font-size: 18px;
    font-style: light;
}

a {
    color: black;
    text-decoration: none;
    font-style: light;
}

.me {
    width: 300px;
    height: 300px;
    padding-left: 4%;
    margin-top: 2%;
}

li {
    display: inline;
    padding: 2rem;
}

h1 {
    padding-left: 4%;
}

h2 {
    text-align: left;
}

p {
    font-size: 13pt;
    max-width: 50%;
    margin-left: 4%;
}


.code {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.ui {
    margin-top: 2rem;
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.motion {
    margin-top: 2rem;
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

img {
    max-width: 100%;
  }

.four-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    max-height: 1280px;
    gap: 2rem;
}

footer {
    margin-top: 3rem;
    padding: 3rem;
    background-color: lightgray;
}