.tns-outer {
position: relative;
}

.tns-controls {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.tn-controls button {
    background:white;
    border: 1px  solid black;
    margin-right: 1rem;
}