body {
    font-family: "poppins";
    font-weight: 300;
  }
  .section {
    font-size: 1.4em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
  }
  h1 img {
    position: left;
    width: 220px;
    height: 200px;
    padding: 1rem;
  }
  h3 {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    font-weight: normal;
  }
  h2 {
    background-color: #9c6335;
    padding: 1rem;
    color: #fff;
  }
  
  &__header {
    position: sticky;
    top: 0;
    padding: 1em;
    color: #a99160;
    background: #171717;
  }
  &__content {
    padding: 1em;
    display: flex;
    justify-content: left;
  }
    & > div {
      max-width: 992px;
    }

  img.align-center {
    display: block;
    margin: 0px auto;
    padding: 1rem;
    padding-bottom: 0rem;
  }
  img {
    width: 250px;
    height: 250px;
  }
  .footer {
    background-color: #9c6335;
    padding: 2%;
    margin: 0px;
    color: #fff;
    font-size: 20px;
  }
  
  p {
    text-align: center;
    padding: 1rem;
    padding-bottom: 3rem;
  }
  
  @media screen {
    @media (min-width: 375px) { }
      @media (min-width: 768px) { }
        @media (min-width: 1280px) { }
    
  }